.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: peachpuff;
    font-size: small;
    font-style: normal;
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

